body, html {
    margin-left: 5px;
    height: 100%;
    cursor: default;
    font-family: sans-serif;
}

header {
    text-align: center;
}

div {
    width: 50%;
    float: left;
}

.input {
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: black;
    cursor: pointer;
    margin-top: 5px;
}

.submit {
    margin-top: 8px;
    margin-left: 100px;
    padding: 5px 10px;
    display: inline-block;
}

#result {
    text-align: center;
    display: none;
}